/build
/.idea
/.gradle
/out
/.vscode
/cmake-build-debug
/cmake-build-release
/cmake-build-minsize
/cmake-build-relwithdebinfo
/cmake-build-coverage
/cmake-build-asan
/cmake-build-msan
/cmake-build-tsan
/cmake-build-ubsan
/cmake-build-clang-tidy
/cmake-build-clang-format
/cmake-build-clang-tidy-fix
/cmake-build-clang-format-fix
/cmake-build-clang-tidy-fix-apply



/CMakeFiles